<div class="jumbotron text-center">
    <h1>More sales</h1>

    <p> Store:</p>
    <ng-form name="storeForm" >
        Name: <input type="text"  ng-model="store.name">
        Manager<input type="text"  ng-model="store.manager">
        <button ng-click="saveStore(store)" type="submit">Save</button>
    </ng-form>

    <p> Sale:</p>

    <ng-form name="saleForm" >
        Amount: <input type="text"  ng-model="sale.amount">
        Date<input type="date"  ng-model="sale.date">
        <button ng-click="saveSale(sale)" type="submit">Save</button>
    </ng-form>

</div>