<!-- public/views/nerd.html -->

<div>
    <h1>Sales</h1>

    <p>{{ SaleCtrl.tagline }}</p>
</div>

<span>I have {{sales.length}} sales. They are:</span>
<input type="search" ng-model="SaleCtrl.storeChoice" placeholder="filter sales..." />
<ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="sale in SaleCtrl.sales | filter:SaleCtrl.storeChoice as results">
        {{$index + 1}}) {{sale.amount}} dato: {{sale.date | date: 'dd-MM-yyyy' }} {{sale._store}}
    </li>
    <p class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
    </p>
</ul>


<ul class="example-animate-container">
    <p>{{SaleCtrl.storeChoice}}</p>
    <button ng-click="SaleCtrl.getStoreSales()" type="submit">Get Store sales</button>
    <li class="animate-repeat" ng-repeat="sale in SaleCtrl.storeSales">
        {{$index + 1}}) {{sale.amount}} dato: {{sale.date | date: 'dd-MM-yyyy' }} {{sale._store}}
    </li>
    <p class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
    </p>
</ul>

<li ng-repeat="item in SaleCtrl.janSales">{{ item|json }}</li>

<button ng-click="SaleCtrl.deleteStoreSales()" type="submit">Delete Store sales</button>




