<!-- public/views/nerd.html -->

<div>
    <h1>Sales</h1>

    <p>{{ testCtrl.tagline }}</p>
</div>

<span>I have {{sales.length}} sales. They are:</span>
<input type="search" ng-model="testCtrl.storeChoice" placeholder="Name of a store" />
<input type="date"   ng-model="testCtrl.fromDate"    placeholder="YYYYmmdd" />
<input type="date"   ng-model="testCtrl.toDate"      placeholder="YYYYmmdd" />

<ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="sale in testCtrl.sales ">
        {{$index + 1}}) {{sale.sale}} dato: {{sale.date}} {{sale.store}}
    </li>
    <p class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
    </p>
</ul>


<ul class="example-animate-container">
    <p>{{testCtrl.storeChoice}}</p>
    <button ng-click="testCtrl.getStoreSales()" type="submit">Get Store sales</button>
    <li class="animate-repeat" ng-repeat="sale in testCtrl.sales">
        {{$index + 1}}) Sum: {{sale.sum}} temp: {{sale.temp}} dato: {{sale.date | date: 'dd-MM-yyyy' }} store: {{sale.store}}
    </li>
    <p class="animate-repeat" ng-if="results.length == 0">
        <strong>No results found...</strong>
    </p>
</ul>

<button ng-click="testCtrl.checkPoint()" type="submit">Check</button>
<button ng-click="testCtrl.initFB()" type="submit">Initialize database</button>

<li ng-repeat="sale in testCtrl.list">{{ sale.date }}   Sale : {{sale.sum}}</li>




