<!-- public/views/nerd.html -->

<div>
    <h2>{{ testCtrl.tagline }}</h2>
</div>

<input type="search" ng-model="testCtrl.storeChoice" placeholder="Name of a store" />
<input type="date"   ng-model="testCtrl.fromDate"    placeholder="YYYYmmdd" />
<input type="date"   ng-model="testCtrl.toDate"      placeholder="YYYYmmdd" />

<button ng-click="testCtrl.getStoreSales()" type="submit">Get Store sales</button>

<button ng-click="testCtrl.checkPoint()" type="submit">Check</button>

<div class="row">
    <div class="col-md-12">
        <linechart data="testCtrl.data" options="testCtrl.options" mode="" width="1200" height="800"></linechart>
    </div>

</div>
